* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:rgba(238, 236, 236, 0.915);
}

header{
    background-color: white;
    padding: 10px 30px ;
}

.logo{
    background-color: white;
    width: 150px;
    height: 55px;
}

main{
   background-color: white; 
   width: 100%;
   max-width: 980px;
   margin: 0 auto;
   border-radius: 8px;
   margin-top: 35px;
}

.button-ct{
    padding-top: 7px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(238, 236, 236, 0.915);
}

.items-ct{
 padding-top: 10px;
 padding-bottom: 14px;
}

.main-px{
    padding-left: 40px;
    padding-right:40px;
}

ul{
  list-style-type: none; 
  padding-left: 7px;
}

/* start of todo-button styles */
.todo-button-tag{
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 15px;
  border: 1px solid rgb(218, 230, 218);
  background-color: white;
}
/* end of todo-button styles */

/* start of todo-item styles */
.todo-item{
  margin: 10px auto;
}

.todo-item-icon{
  display: inline-block;
  border-radius: 100%;
  height:24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  border: 1px solid green;
  color: green;
}

.todo-item-tag{
  color:white;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 12px;
  background-color: rgb(58, 179, 232);
  }

.item-tag-violet{
    background-color: rgb(199, 14, 199);
  }

.item-tag-blue {
    background-color: rgb(58, 179, 232);
 }

.item-tag-green{
    background-color: rgb(14, 199, 128);
  }

.item-tag-orange{
    background-color: rgb(229, 143, 30);
  }

.item-tag-lightgreen{
    background-color: rgb(55, 237, 101);
  }

.item-tag-red{
    background-color: rgb(217, 53, 62);
  }

.item-icon-red{
    border: 1px solid rgb(227, 43, 6);
    color: red;
  }

  /* end of todo-item styles */

  /* start of todo-title styles */
.todo-title{
    margin: 30px 0 0 0;
  }
  
  
.todo-title-text{
    display: inline-block;
    margin-left: 12px;
    margin-right: 3px;
  } 

  /* end of todo-title styles */